<section class="commerc">
  <div class="commerc__container">
    <div class="commerc__block">
      <img src="/assets/images/commOne.png" alt="картинка" class="commerc__block-img">
      <div class="commerc__block-wrap">
        <h3 class="commerc__block-title title-img">Дилерам и Дизайнерам</h3>
        <p class="commerc__block-text text">Каждый веб-разработчик знает, что такое текст-«рыба»Каждый веб-разработчик знает, что такое текст-«рыба»</p>
        <button class="commerc__block-button button-white">заявка на сотрудничество</button>
      </div>
    </div>
    <div class="commerc__block">
      <img src="/assets/images/commTwo.png" alt="картинка" class="commerc__block-img">
      <div class="commerc__block-wrap">
        <h3 class="commerc__block-title title-img">Коммерческим покупателям</h3>
        <p class="commerc__block-text text">Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов</p>
        <button class="commerc__block-button button-white">заявка на сотрудничество</button>
      </div>
    </div>
  </div>
  <div class="commerc__strip"></div>
</section>