<footer class="footer">
  <ul class="footer__container">
    <li class="footer__block">
      <a href="#" class="footer__link">Lorem</a>
      <a href="#" class="footer__link">Lorem</a>
      <a href="#" class="footer__link">Lorem</a>
      <a href="#" class="footer__link">Lorem</a>
      <a href="#" class="footer__link">Lorem</a>
    </li>
    <li class="footer__block">
      <a href="#" class="footer__link">О компании</a>
      <a href="#" class="footer__link">Отзывы</a>
      <a href="#" class="footer__link">Блог</a>
      <a href="#" class="footer__link">Контакты</a>
      <a href="#" class="footer__link">Коммерческим покупателям</a>
    </li>
    <li class="footer__block">
      <h2 class="footer__logo">LOGO</h2>
      <address class="footer__address">Режим работы: Москва и МО</address>
      <span class="footer__time-mode footer__time-work">Режим работы</span>
      <p class="footer__time-work">ежедневно с 9:00 до 21:00</p>
      <nav class="footer__block-number">
        <a href="/#" class="footer__number">8 955 545 23 81</a>
        <a href="/#" class="footer__number">8 955 515 21 81</a>
      </nav>
    </li>
    <li class="footer__block">
      <button class="footer__button white-button">калькулятор</button>
      <a class="footer__email">E-mail: info@lorem.ru</a>
      <nav class="footer__link-nav">
        <a class="footer__link-social" href="#">FB</a>
        <a class="footer__link-social" href="#">OK</a>
        <a class="footer__link-social" href="#">VK</a>
        <a class="footer__link-social" href="#">TW</a>
        <a class="footer__link-social" href="#">YT</a>
        <a class="footer__link-social" href="#">YT</a>
      </nav>
    </li>
  </ul>
  <div class="footer__bottom">
    <p class="footer__text-bottom">© 2020 Lorem</p>
    <nav class="footer__link-bottom">
      <a href="#" class="footer__text-bottom">Правила использования cookie</a>
      <a href="#" class="footer__text-bottom">Пользовательское соглашение</a>
      <a href="#" class="footer__text-bottom">Карта сайта</a>
    </nav>
    <p class="footer__text-bottom">Разработка — Lorem</p>
  </div>
</footer>