<section class="gallery">
  <div class="gallery__container">
    <div class="gallery__container-first">
      <div class="gallery__block gallery__block_one">
        <h4 class="gallery__block-title title-img">Москитные сетки</h4>
        <img src="/assets/images/woman.png" alt="картинка" class="gallery__block-img" />
      </div>
      <div class="gallery__container-lower">
        <div class="gallery__block gallery__block_two">
          <h4 class="gallery__block-title title-img">Москитные сетки</h4>
          <img src="/assets/images/Curtains.png" alt="картинка" class="gallery__block-img" />
        </div>
        <div class="gallery__block gallery__block_three">
          <h4 class="gallery__block-title title-img title-white">Москитные сетки</h4>
          <img src="/assets/images/night.png" alt="картинка" class="gallery__block-img" />
        </div>
      </div>
    </div>

    <div class="gallery__block gallery__block_four">
      <h4 class="gallery__block-title title-img">Москитные сетки</h4>
      <img src="/assets/images/flower.png" alt="картинка" class="gallery__block-img" />
    </div>
  </div>
  <div class="gallery__strip"></div>
  <h2 class="gallery__title title__background">Популярное</h2>
</section>