<section class="intro">
  <div class="intro__upper">
    <button class="intro__button-order">Заказать замер</button>
    <button class="intro__button-backet button-white">
      <img src="/assets/images/icons/basket.svg" alt="icon" class="intro__basket-img">
    </button>
  </div>
  <div class="intro__middle">
    <div class="intro__title">
      <h1 class="intro__title-upper">Купите</h1>
      <h1 class="intro__title-middle">Что-то</h1>
      <h1 class="intro__title-lower"> и еще шторы</h1>
    </div>
    <p class="intro__paragraph text">«Lorem» — производитель изделий для внутренней и внешней lorem</p>
    <button class="intro__button-calc button-white">калькулятор</button>
  </div>

  <div class="intro__swiper swiper">
    <div class="intro__wrapper swiper-wrapper">
        <div class="intro__background-img swiper-slide"></div>
        <div class="intro__background-img swiper-slide"></div>
        <div class="intro__background-img swiper-slide"></div>
    </div>
    <div class="intro__swiper-nav">
      <img alt="кнопка обратно" src="/assets/images/icons/prevButton.svg" class="intro__button-prev swiper__button-prev"/>
      <p class="intro__pagination swiper__pagination"></p>
      <img alt="кнопка вперед" src="/assets/images/icons/nextButton.svg" class="intro__button-next swiper__button-next"/>
    </div>
  </div>
  
</section>