<section class="quiz">
  <p class="quiz__uppertitle">Ваш помощник в выборе солнцезащиты</p>
  <div class="quiz__container">
      <div class="quiz__container-upper">
        <h2 class="quiz__title">Для какого помещения выбираете Lorem?</h2>
        <div class="quiz__route">
          <div class="quiz__circle">1</div>
          <div class="quiz__circle">2</div>
          <div class="quiz__circle">3</div>
        </div>
      </div>
      <form action="#" class="quiz__form">
        <ul class="quiz__form-column">
          <li class="quiz__form-input">
            <input type="checkbox" name="name1">
            <label for="name1"> Веранда, терраса, уличное пространство</label>
          </li>
          <li class="quiz__form-input">
            <input type="checkbox" name="name2">
            <label for="name2"> Офис</label>
          </li>
          <li class="quiz__form-input">
            <input type="checkbox" name="name3">
            <label for="name3"> Учебное или мед. учреждение</label>
          </li>
          <li class="quiz__form-input">
            <input type="checkbox" name="name4">
            <label for="name4">Помещение с проектором</label>
          </li>
          <li class="quiz__form-input">
            <input type="checkbox" name="name5">
            <label for="name5">Стеклянные переговорные</label>
          </li>
          <li class="quiz__form-input">
            <input type="checkbox" name="name6">
            <label for="name6">Помещение с панорамными окнами</label>
          </li>
        </ul>

        <ul class="quiz__form-column">
            <li class="quiz__form-input">
              <input type="checkbox" name="name7">
              <label for="name7">Помещение с мансардными окнами</label>
            </li>
            <li class="quiz__form-input">
              <input type="checkbox" name="name8">
              <label for="name8">Кухня, столовая</label>
            </li>
            <li class="quiz__form-input">
              <input type="checkbox" name="name9">
              <label for="name9">Детская</label>
            </li>
            <li class="quiz__form-input">
              <input type="checkbox" name="name10">
              <label for="name10">Спальня</label>
            </li>
            <li class="quiz__form-input">
              <input type="checkbox" name="name11">
              <label for="name11">Балкон</label>
            </li>
            <li class="quiz__form-input">
              <input type="checkbox" name="name12">
              <label for="name12">Зимний сад</label>
            </li>
          </ul>
          <button class="white-button quiz__form-button">Далее</button>
      </form>
  </div>
</section>