<section class="quiz">
  <p class="quiz__uppertitle">Ваш помощник в выборе солнцезащиты</p>
  <div class="quiz__upper-block"></div>
  <div class="quiz__container">
      <div class="quiz__container-upper">
        <h2 class="quiz__title">Для какого помещения выбираете Lorem?</h2>
        <div class="quiz__route">
          <div class="quiz__circle quiz__circle_active">1</div>
          <div class="quiz__circle">2</div>
          <div class="quiz__circle">3</div>
        </div>
      </div>
      <form action="#" class="quiz__form">
        <ul class="quiz__form-column">
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox" checked="checked">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
          <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
          </li>
        </ul>

        <ul class="quiz__form-column">
            <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
            <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
            <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
            <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
            <li class="quiz__form-input">
          <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
            <li class="quiz__form-input">
            <label class="text">
            <input type="checkbox">
            <span></span>
            Веранда, терраса, уличное пространство
          </label>
            </li>
          </ul>
      </form>
      <button class="white-button quiz__form-button">Далее</button>
  </div>
</section>